body {
  background-image: url("/assetes/backkground 2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assetes/backkground 2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.welcome-banner {
  text-align: center;
  padding: 300px 250px;
}

h1 {
  color: #333;
  font-size: 408px;
}

.square-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.square {
  width: 90px;
  height: 90px;
  margin: 0 40px;
  background-color: red;
  animation: changeColor 2s infinite alternate;
}

@keyframes changeColor {
  0% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Color de fondo */
}

.footer {
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color de texto del footer */
  padding-bottom: 0%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#microOndas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 40px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

#aireAcondicionado {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 40px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

#heladera {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 40px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

#horno {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 40px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

#liquadora {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#ventilador {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#form-container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.form-container {
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
}

.form-container form {
  display: grid;
  grid-gap: 20px;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container input[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.container body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.container .container {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .company-info {
  text-align: left;
}
.container .company-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container .company-info p {
  font-size: 16px;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
