#form-container{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .form-container {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container form {
    display: grid;
    grid-gap: 20px;
  }

  .form-container label {
    font-weight: bold;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  body {
    background-image: url('/assetes/background3.jpg'); 
    background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  margin: 0; 
  padding: 0; 
}